<h2>Widget Research Co - Dynamic Matrix</h2>
<div class="container">
    <div>
            <span class="add" (click)="addMoreRows()">Add Row +</span>

            <div class="moreColumn" [ngClass]="{'show': addColumn, 'moreColumn': !addColumn}" >
                    <span class="add column" (click)="toogle()">Add Column +</span>
                <form class="form-new-column" (ngSubmit)="addMoreColumns($event)">
                    <input type="text" [(ngModel)]="columnName.name" 
                    placeholder="Column name" id="column-name" name="name"
                    > 
                    <div class="radio-group">

                   
                    <input type="radio" value="number"
                     [(ngModel)]="columnName.type" checked id="porcen" name="column"  >
                    <label for="porcen" value="" >%</label>
                    <input type="radio" value="other" id="other" name="column" [(ngModel)]="columnName.type">
                    <label for="other">Other</label>
                 </div>
                    <button>Add Column</button>
                </form>
            </div>
            <i class="fas fa-trash-alt"></i>
    </div>
    <div class="search">
        <input type="text" [(ngModel)]="search" (keyup)="searchOnGrid()" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>
    
</div>


<ag-grid-angular #agGrid 
(cellValueChanged) = "handleChange()"
    style="width: 90vw; height: 500px; margin: 0 auto;" 
    class="ag-theme-balham"
    [rowData]="rowData "  
    [columnDefs]="columnDefs"
    [modules]="modules"
    [enableRangeSelection]="true"
    [suppressMultiRangeSelection]="true"
    [enableCellTextSelection]="true"
    [rowDragManaged]="true"
    [animateRows]="true"

    (gridReady)="onGridReady($event)">
</ag-grid-angular>

<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="addLessColumns()">- Column</button>
<button (click)="addLessRows()">- Row</button>
<!-- <button (click)="pushData()">Push</button>
<button (click)="getData()">Get</button> -->