* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
    div.container{
        display: flex;
        justify-content: space-between;
        margin: 40px;
        z-index: 99;

        span.add{
            cursor: pointer;
            font-weight: 600;
            padding: 5px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
             margin: 10px;
            &:focus{
                background-color: transparent;
            }
        }
       
        i{
            cursor: pointer;
        }

        .moreColumn {
            display: inline-block;
            form {
                display: none;
               
        }
    }
}
    div.search{
        display: flex;
        position: relative;
        
        input{
            height: 40px;
            background-color: #F6F6FA;
            border: 1px solid rgba(196,196,205,0.35);
            border-right: 0;
            display: inline-block;
            vertical-align: bottom;
            width: 300px;
            position: absolute;
            right: 0;
            
        }
        i{
            vertical-align: bottom;
            height: 30px;
            background-color: #F6F6FA;
            border-left: 0;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            position: absolute;
            right: 5px;
            top: 5px;
        

        }

    }
    .show {
        display: inline-block;
        border: 1px solid rgb(235, 231, 231);
        border-bottom: 0;
        box-sizing: content-box;
        margin: 5px;
       
        form {
            position: absolute;
            display: block;
            background: white;
            border: 1px solid rgb(235, 231, 231);
            border-top: 0;
            z-index: 999 !important;
            padding: 10px;
            transform: translateX(-1px);
            width: 300px;
        
        
            input[type=text]{
                display: block;
                width: 80%;
                margin: 0 auto;
                height: 35px;
                background-color: #F6F6FA;
                border: 1px solid rgba(196,196,205,0.35);

            }
            .radio-group{
                display: flex;
                justify-content: center;

                    * {
                        margin: 8px;
                    }
            }
           
            button {
                display: block;
                margin: 0 auto;
            }
        }
    }