<h2>Widget Research Co - Dynamic Matrix</h2>
<div class="container">
    <div>
            <span class="add" (click)="addMoreRows()">Add Row +</span>
            <span class="add" (click)="addMoreColumns()">Add Column +</span>
            <i class="fas fa-trash-alt"></i>
    </div>
    <div class="search">
        <input type="text" [(ngModel)]="search" (keyup)="searchOnGrid()" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>
    
</div>


<ag-grid-angular #agGrid 
(cellValueChanged) = "handleChange()"
    style="width: 90vw; height: 500px; margin: 0 auto;" 
    class="ag-theme-balham"
    [rowData]="rowData "  
    [columnDefs]="columnDefs"
    [modules]="modules"
    [enableRangeSelection]="true"
    [suppressMultiRangeSelection]="true"
    [enableCellTextSelection]="true"

    (gridReady)="onGridReady($event)">
</ag-grid-angular>
<input type="color" value="green" (change)=changeColor($event)>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="addLessColumns()">- Column</button>
<button (click)="addLessRows()">- Row</button>
<button (click)="pushData()">Push</button>
<button (click)="getData()">Get</button>